@import 'media';
@import 'colors';
#About {
    display: flex;
    max-width: 100vw;
    overflow-x: hidden;
    @media (max-width: $screen-md) {
        padding-bottom: 150px;
    }
    .about-bar {
        position: relative;
        display: flex;
        align-items: center;
        float: left;
        width: 100%;
        margin: 75px;
        border: solid 2px $font-light-grey;
        background: url("/img/me.png") no-repeat rgba(0, 0, 0, 0.5);
        background-position: center left;
        @media (max-width: $screen-md) {
            background: rgba(0, 0, 0, 0.5);
        }
        .top-triangle {
            width: 100%;
            height: 0;
            top: -100px;
            position: absolute;
            border-bottom: 100px solid $font-grey;
            border-right: 100vw solid transparent;
        }
        .bottom-triangle {
            width: 100%;
            height: 0;
            bottom: -100px;
            position: absolute;
            border-right: 100vw solid $font-grey;
            border-bottom: 100px solid transparent;
        }
    }
}