@import 'media';
@import 'colors';
.dark-mode {
    background-color: $darkmode-background;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode p,
.dark-mode span,
.dark-mode a {
    color: white !important;
}

.dark-mode h2 {
    color: $font-light-grey !important;
}

.dark-mode h1.font-grey,
.dark-mode h2.font-grey,
.dark-mode h3.font-grey,
.dark-mode h4.font-grey,
.dark-mode h5.font-grey,
.dark-mode p.font-grey,
.dark-mode span.font-grey,
.dark-mode a.font-grey {
    color: white !important;
}

.dark-mode .navbar.navbar-white {
    background-color: $darkmode-background;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent!important;
}