@import 'colors';
@import 'media';

#HomeSection {
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
    background-color: var(--bg);
}
