@import 'colors';
@import 'media';

#projects {
    background-color: var(--bg-alt);
    border-top: 1px solid var(--border);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (max-width: $screen-sm) {
        grid-template-columns: 1fr;
    }
}
